* text=auto

.gitattributes text eol=lf
LICENSE text eol=lf
*.md text eol=lf
*.rs text eol=lf
*.rules text eol=lf
*.sh text eol=lf
*.toml text eol=lf
*.yaml text eol=lf
spec/**/evidence/** -text -diff
